*.zip
*.pyc
*_config.py
.DS_Store

apigateway/*
.idea/*
.pytest_cache/*
apigateway/logic/__pycache__/*
tests/.pytest_cache/*
tests/database_tests/.pytest_cache/*
tests/integration_tests/.pytest_cache/*
tests/future_tests/.pytest_cache/*
tests/mock_tests/.pytest_cache/*
Tests/mock_users/.pytest_cache/*
tests/predictive/*
!apigateway/*.py
apigateway/itsdangerous.py
apigateway/flask_lambda.py
apigateway/six.py
apigateway/semver.py
apigateway/create_plan.py
apigateway/readiness.py
apigateway/process_metrics.py
apigateway/update_stats.py
apigateway/aggregate_dashboard.py
apigateway/session.py
!apigateway/data
!apigateway/datastores/
!apigateway/logic/
!apigateway/models
!apigateway/pip_requirements
!apigateway/routes
*__pycache__*
output/*
tests/database_tests/*.csv
output_persona/*
tests/data/*
ml_training/hr_rpe/data/*
ml_training/hr_rpe/model/*
ml_training/bodyweight_ratio/data/*
ml_training/bodyweight_ratio/model/*
