*.zip
*.pyc
*_config.py
.DS_Store

apigateway/*
.idea/*
apigateway/logic/__pycache__/*
tests/.pytest_cache/
tests/database_tests/.pytest_cache
tests/future_tests/.pytest_cache
tests/mock_tests/.pyteste_cache
!apigateway/*.py
!apigateway/datastores/
!apigateway/logic/
!apigateway/models
!apigateway/pip_requirements
!apigateway/routes
