*.zip
*.pyc
*config.py

apigateway/*
.idea/*
apigateway/logic/__pycache__/*
tests/.pytest_cache/
!apigateway/*.py
!apigateway/logic/
!apigateway/models
!apigateway/pip_requirements
!apigateway/routes
